@import 'tailwindcss';

/* Inter italic font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}

/* Inter regular font */
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Variable.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
}

@theme {
  --font-inter: 'Inter', sans-serif;
}
